{% form_theme form with [
    '@SyliusAdmin/Form/theme.html.twig',
    '@SherlockodeAdvancedContent/Form/content.html.twig'
] %}

{% set content = form.vars.data %}
{{ form_errors(form) }}
<div class="ui grid">
    <div class="twelve wide column">
        <div class="ui fluid styled accordion">
            <div class="active title">
                <i class="dropdown icon"></i>
                {{ 'sherlockode_sylius_acb.form.general'|trans }}
            </div>
            <div class="active content">
                {{ form_row(form.name) }}
                {{ form_row(form.slug) }}
            </div>
        </div>
        <div class="ui hidden divider"></div>
        <div class="ui fluid styled accordion">
            <div class="active title">
                <i class="dropdown icon"></i>
                {{ 'sherlockode_sylius_acb.form.content'|trans }}
            </div>
            <div class="active content">
                {{ form_row(form.data) }}
            </div>
        </div>
        {% if content.id %}
            <div class="ui hidden divider"></div>
            <div class="ui fluid styled accordion">
                <div class="active title">
                    <i class="dropdown icon"></i>
                    {{ 'sherlockode_sylius_acb.form.history'|trans }}
                </div>
                <div class="active content">
                    {{ include('@SherlockodeAdvancedContent/Version/content_list.html.twig', {'content': content}) }}
                </div>
            </div>
        {% endif %}
    </div>
    <div class="four wide column">
        {% if form.scopes is defined %}
            <div class="ui fluid styled accordion">
                <div class="active title">
                    <i class="dropdown icon"></i>
                    {{ 'sherlockode_sylius_acb.form.scope'|trans }}
                </div>
                <div class="active content">
                    <div class="field">
                        {{ form_widget(form.scopes) }}
                    </div>
                    <div class="ui checkbox">
                        <input type="checkbox" id="acb-scopes-select-all">
                        <label for="acb-scopes-select-all">{{ 'content.form.scopes_select_all'|trans({}, 'AdvancedContentBundle') }}</label>
                    </div>
                </div>
            </div>
        {% endif %}
        <div class="ui segment center aligned">
            <div class="ui buttons">
                <button class="ui labeled icon primary button" type="submit">
                    {% if content.id %}
                        <i class="save icon"></i> {{ 'sylius.ui.save_changes'|trans }}
                    {% else %}
                        <i class="plus icon"></i> {{ 'sylius.ui.create'|trans }}
                    {% endif %}
                </button>
            </div>
        </div>
    </div>
</div>
